@font-face {
  font-family: ali-font;
  src: url(assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
body {
  background: rgb(223, 251, 246);
  background: linear-gradient(
    135deg,
    rgba(243, 255, 253, 0.562) 47%,
    rgba(103, 207, 248, 0.671) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.image-div {
  img {
    width: 70px;
    height: 50px;
  }
}
.logo {
  font-family: ali-font;
  img {
    width: 90px;
    height: 80px;
    vertical-align: middle;
  }
  small{
    color:rgb(31, 160, 235) !important
  }

  border-radius: 8px;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 1px rgba(83, 80, 80, 0.356);
  span {
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 20px;
  }
  .head-text {
    letter-spacing: 5px;
    font-size: 10px;
    font-weight: 800;
  }
}

.search:hover{
  color: white !important;
  background-color: rgb(31, 160, 235) !important;
}

.nav-my{
  li{
    a{
      color:rgb(31, 160, 235) !important ;
    }
  }
}

.btn-post{
  background-color:rgb(31, 160, 235) !important;
  color: #ffffff !important;
}

.btn-post:hover{
  background-color: transparent !important;
  color: rgb(31, 160, 235) !important;
}

.my-card{

  background-color:  rgba(243, 255, 253, 0.562)  !important;
}